/* You can add global styles to this file, and also import other style files */
@import "tailwindcss/base";
@import "tailwindcss/components";
@import "tailwindcss/utilities";

@mixin font($font-family, $font-file) {
  @font-face {
    font-family: $font-family;
    src: local('☞' +$font-file), local('$font-file'),
      url($font-file + '.woff2') format('woff2'),
      url($font-file + '.woff') format('woff');
    font-weight: normal;
    font-style: normal;
    font-display: swap;
  }
}

@include font('Poppins-Regular', './assets/fonts/PoppinsRegular/Poppins-Regular');
@include font('Poppins-SemiBold', './assets/fonts/PoppinsSemiBold/Poppins-SemiBold');


html,
body {
  height: 100%;
}

body {
  margin: 0;
  @apply font-regular
}

input[type=text] {
  padding-left: 1rem !important;
  padding-right: 1rem !important;
  
  @apply outline-none border border-navy-2 border-opacity-10 rounded-md w-[425px] h-12 text-navy-2 font-regular
} 

input[type="text"]:hover {
  @apply border-violet;
}
input[type="text"]:focus {
  @apply border-2 border-violet;
}

.mat-select{
  width: 94px !important;
  height: 48px !important;
  @apply rounded-md bg-white border border-navy-2 border-opacity-10 font-semi
 
}

.mat-select:focus{
  @apply border-2 border-violet;
}

.mat-select-trigger{
  @apply h-full px-1
}